.h-nav{
    padding: 5%;
    margin: 0% !important;
    padding-top: 10%;
    justify-content:center;
    align-items: center;
    height: 50%;
    display: flex;
}
.h-buses{
    flex: 0.3;
    display: flex;
    margin-top: 1%;
    align-items: center;
    flex-direction: column;
}
.dash-bord{
    padding-bottom: 10%;
}
.h-rightside{
    flex: 0.5;
    display: flex;
    margin-top: 1%;
    align-items: center;
    flex-direction: column;
}
.h-leftside{
    flex: 0.5;
    display: flex;
    margin-top: 1%;
    align-items: center;
    flex-direction: column;
}